# =========================
# C / C++ / CLion 相关
# =========================
.idea/
cmake-build-debug/
CMakeLists.txt.user
*.exe
*.dll
*.o
*.obj
*.so
*.dylib

# =========================
# Java 相关 (新增!)
# =========================
# 编译后的字节码文件（绝对不要上传）
*.class
#以此类推，如果有打包文件
*.jar
*.war

# =========================
# 操作系统 / 编辑器 通用
# =========================
Thumbs.db
Desktop.ini
.DS_Store
.vscode/