# =========================
# IntelliJ IDEA 核心配置 (最重要!)
# =========================
.idea/
*.iml
out/

# =========================
# Java 编译产物
# =========================
*.class
*.jar
*.war

# =========================
# C / C++ 垃圾文件 (虽然你现在写Java，留着也无妨)
# =========================
cmake-build-debug/
CMakeLists.txt.user
*.exe
*.obj
*.o

# =========================
# 操作系统 / 编辑器 通用
# =========================
Thumbs.db
Desktop.ini
.DS_Store
.vscode/